.doors-about {
    padding-top: 70px;
    padding-bottom: 80px;
    overflow: hidden;    

    &__title {
        text-align: center;
        margin-bottom: 50px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap-reverse;
        position: relative;
        align-items: center;
    }


    &__row:after {
        content: "";
        position: absolute;
        left: 0;
        top:0;
        bottom: 0;
        right: 37.95%;
        border: 10px solid #F5D6C9;
    }


    &__text {
        padding-top: 60px;
        padding-left: 64px;
        padding-bottom: 120px;
        padding-right: 20px;
        flex-grow: 1;
        flex-basis: 44.73%;
        max-width: 44.73%;
    }

    &__view {
        flex-basis: 55.27%;
        max-width: 55.27%;
        flex-grow: 1;
        position: relative;
        z-index: 2;
        align-self: center;
    }

    &__view img {
        display: block;
        position: relative;
        z-index: 1;
    }

    &__iframe {
        position: relative;
        padding-bottom: 56.2%;
        height: 0;
        width: 100%;
        background-color: #000000;
        cursor: pointer;
    }

    &__iframe:after {
        content: "";
        background-image: url(../img/ico-play-white-no-border.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }


    &__iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }


    &--picture  {
        background-color: #F1F2F6;
        padding-bottom: 190px;
    }

    &--picture &__row {
        flex-direction: row-reverse;
        align-items: normal;
    }

    &--picture &__row:after {
        left: 37.95%;
        right: 0;
        border-color: #ffffff;
    }

    &--picture &__view {
        flex-basis: 50%;
        max-width: 50%;
        margin-top: 80px;
        text-align: right;
        margin-bottom: -80px;
    }

     &--picture &__view img {
         display: inline-block; 
     }

    &--picture &__text {
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 60px;
        padding-right: 80px;
    }

    @media(max-width: 1199px) {
        &--picture &__text {
            padding-bottom: 60px;
        }

         &--picture &__text {
             margin-bottom: auto;
         }
    }

    @media(max-width: 992px) {

        & {
            position: relative;
            left: -25px;
            margin-right: -25px;
        }

        &__title {
            text-align: left;
            padding-left: 30px;
            padding-right: 30px;
        }

        &__view, &__text {
            flex-basis: 100%;
            max-width: 100%;
        }

        &__row {
            flex-direction: column;
            align-items: center;
        }

        &__row:after {
            right: 0;
        }


        &__text {
            position: relative;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 54px;
            padding-bottom: 80px;
        }

        &--picture {
            padding-bottom: 80px;
        }

        &--picture &__title {
            padding-left: 32px;
            padding-right: 0; 
        }

        &--picture &__row {
            align-items: center;
            flex-direction: column-reverse;
        }

        &--picture &__row:after {
            top: 120px;
            left: 0;     
        }
        
        &--picture &__view,
        &--picture &__text {
            flex-basis: 100%;
            max-width: 100%;
        }

        
        &--picture &__view {
            margin: 0;
            padding: 0 34px 0 0;
        }

         &--picture &__text {
             padding-top: 15px;
             padding-left:  32px;
             padding-right: 20px;
             padding-bottom: 85px;
         }
    }

    @media(max-width: 660px)  {
        &__iframe {
            width: calc(100% + 15px);
        }
    }

}

