$desktop-width: 1200px;
$tablet-width: 1024px;
$mobile-width: 992px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #4F4F4F;
$btn-color: #B59EC9;
$text-small: 14px;
$title: 20px;